.Experiment {
    text-align: center;
    max-height: 720px;
    width: 650px;
    padding: 25px;
}

.screen {
    position: relative;
    max-height: 620px;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background: aliceblue;*/
}